#topo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topo article h1 {
    color: #009688;
    font-size: 47px;
    font-weight: 700;
    line-height: 54px;
    width: 512px;
    height: 108px;
    margin: 122px 74px 40px 100px;
}

#topo article p {
    color: #000000;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    width: 461px;
    height: 110px;
    margin: 40px 125px 162px 100px;
}

main {
    background:  #E5E5E5;
    display: flex;
    padding-bottom: 170px;
}


main h2 {
    color: #FF4081;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    margin-top: 19px;
    margin-bottom: 19px;
}

main p {
    color: #000000;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    width: 516px;
    height: 80px;
}

.artigos article a {
  text-decoration: none;
}

.artigos article {
    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 109px;*/
    display: inline-flex;
	flex-wrap: wrap;
	flex-direction: column;
    margin-left: 109px;
    margin-top: 109px;
}

.artigos article img {
    width: 518px;
    height: 259px;
}



/* RESPONSIVE DISPLAYS */

/* MOBILE */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    

    /* CONTEÚDO */

  
    /* FOOTER */
    
  }
  
  /* TABLET */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    

    /* CONTEÚDO */


  
    /* FOOTER */
   
  }
  
  /* LAPTOP */
  @media only screen and (min-width: 769px) and (max-width: 1300px) {
    
  }

