article.topo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 160px;
  padding: 50px 0;
}

article.topo .content-topo {
  margin-right: 312px;
}

article.topo h1{
  color: #009688;
  font-size: 47px;
  font-weight: 700;
}

article.topo p{
  font-size: 20px;
  color: #000;
  font-weight: 300;
  padding-top: 40px;
}

#second {
  background-color: #e5e5e5;
  padding: 110px 0;
}

.main-content {
  display: flex;
  justify-content: space-between;
  background-color: 
}

.main-content article {
  width: 518px;
}

.main-content article h2{
  font-size: 30px;
  color: #FF4081;
  font-weight: 400;
  padding: 20px 0;
}

.main-content article p{
  font-size: 17px;
  color: #000;
  font-weight: 300;
}

div.container div:nth-child(2) {
  padding: 100px 0;
}