main section {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

main section h1{
  color: #FF4081;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 45px;
}

form {
  display:flex;
  flex-direction: column;
}

form input{
  color: #58555D;
  font-size: 16px;
  width: 493px;
  margin-bottom: 15px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #686868;
}

button{
  background-color: #FF4081;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 30px;
  border: none;
  border-radius: 50px;
  width: 130px;
  cursor: pointer;
}

button:hover {
  background-color: #FF1565;
  
  transition: all .5s;
}

form input::placeholder{
  color: #58555D;
  font-size: 16px;
}

form textarea {
  resize: none;
  border-radius: 7px;
  margin-bottom: 15px;
  height: 193px;
}

form textarea::placeholder {
  color: #58555D;
  font-size: 17px;
  padding: 10px 15px;
}